@*Use the _DashboardCard to Create the Layout*@
@using MedBI.ClientSide.Models
@model MedBI.ClientSide.Pages.Shared.DashboardLayoutModel

@{
    await Model.LoadDashboardCardsAsync();
}

<div class="container-fluid">
    <div class="row">
        @foreach (var card in Model.DashboardCards)
        {
            if (card != null)
            {
                @await Html.PartialAsync("_DashboardCard", card)
            }
        }

    </div>
</div>