@model string

@inject MedBI.ClientSide.Services.NavigationApiService NavApiService

@{
    var navItems = await NavApiService.GetNavigationForRoleAsync(Model);
}
<nav id="sidebarMenu">
    <ul class="nav flex-column">
        @foreach (var item in navItems.OrderBy(x => x.Order))
        {
            <li class="nav-item">
                <a class="nav-link d-flex align-items-center gap-2" asp-page="@item.PageUrl">
                    <i class="@item.IconCssClass"></i>
                    @item.Title
                </a>
            </li>
        }
    </ul>
</nav>
